.wrap-setitem {
  margin-top: 40px;
  margin-left: 90px;
  margin-right: 20px;
  text-decoration: none;
  color: #333333;
}
.name-movis {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 20px;
 
}
.poster-movis {
  width: 180px;
  height: 260px;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
}

.filmold {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  padding-top: 25px;

}
.genres-movis {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  padding-top: 10px;
}
